

.popularbooks-container {
    border-bottom: 1px solid var(--color-dark-Ex);
    padding-bottom: 56px;
}

.filter-buttons {
    margin-top: 57px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
    margin-bottom: 66px;
}

.filter-buttons button {
    font-size: 17px;
    cursor: pointer;
    background: none;
    border: none;
    color: var(--color-dark);
    transition: color 0.3s;
}

.filter-buttons button:hover {
    color: var(--color-black);
}

.filter-buttons .active {
    border-bottom: 3px solid var(--color-primary);
    color: var(--color-primary);
}

.gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
    padding: 20px;
}

.gallery-item {
    display: flex;
    flex-direction: column;
    gap: 24px;
    text-align: center;
    animation: Gani 400ms ease forwards;
}

@keyframes Gani {
    from {
        transform: scale(0);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}
  

.popularbook-image {
    background: var(--color-light);
}

.popularbook-info > div {
    margin-top: 8px;
    margin-bottom: 20px;
}

/* Responsive for tablets */
@media (max-width: 1024px) {
    .popularbooks-container {
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
    }
}

/* Responsive for mobile */
@media (max-width: 500px) {
    .galerry {
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
    }

    .popularbook-info .popularbooks-container > div {
        margin-bottom: 20px;
        margin-top: 8px;
    }
}
